<div id="<%= dom_id investigator %>">
  <p>
    <strong>Cédula:</strong>
    <%= investigator.idCard %>
  </p>

  <p>
    <strong>Nombre:</strong>
    <%= investigator.name %>
  </p>

  <p>
    <strong>Apellido:</strong>
    <%= investigator.lastname %>
  </p>

  <p>
    <strong>Correo electrónico:</strong>
    <%= investigator.email %>
  </p>

</div>
