<%= form_with(model: project) do |form| %>
  <% if project.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(project.errors.count, "error") %> prohibited this project from being saved:</h2>

      <ul>
        <% project.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label "Código", style: "display: block" %>
    <%= form.number_field :code %>
  </div>

  <div>
    <%= form.label "Nombre", style: "display: block" %>
    <%= form.text_field :name %>
  </div>

  <label for="main_investigator_email" style="display: block">Correos investigador principal</label>
  <input id="main_investigator_email" name="main_investigator_email" type="text_field" value="<%= @main_investigator_email %>" />

  <div data-controller="add-investigator" data-add-investigator-url="<%= get_project_investigators_path %>">
    <label for="associated_investigator_email" style="display: block">Correos investigadores asociados</label>
    <input id="associated_investigator_email" name="associated_investigator_email" type="text_field" />
    <div data-add-investigator-target="add_item">
      <%= link_to "Agregar investigador", "#", class: "btn btn-sm btn-info", data: { action: "add-investigator#add_association" } %>
    </div>
  

    <h4>Investigadores asociados:</h4>

    <template id="row_template" data-add-investigator-target="template"> 
        <%= form.fields_for :project_investigators, ProjectInvestigator.new, child_index: "TEMPLATE_RECORD" do |associated| %>
            <%= render "projects/project_views/associated_investigator_row", form: associated, project: project, investigator: Investigator.first %>
        <% end %>
    </template>
    
    <br>
    <div id="investigators">
      <div class="row">
        <div class="col-9">
          <%= render 'associated_investigator_list', f: form, project: project, investigators: @investigators %>
        </div>
      </div>
    </div>
  </div>
  <div>
    <%= form.submit(project.new_record? ? "Registrar" : "Actualizar", class: "btn btn-sm btn-success") %>
  </div>

  
<% end %>