<p style="color: green"><%= notice %></p>

<%= render @project %>

<div>
  <%= link_to "Editar proyecto", edit_project_path(@project) %> |
  <%= link_to "Regresar a lista", projects_path %>

  <%= button_to "Eliminar proyecto", @project, method: :delete %>
</div>
